<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Log In</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<!-- Body Start -->

<div class="container text-center">
<!--    <br>-->
<!--    <h3 class="text-center text-primary">Profile Page</h3>-->
<!--    <br><hr><br>-->

<!--    <form th:action="@{/logout}" method="post">-->
<!--        <p>-->
<!--&lt;!&ndash;        <div sec:authorize="isAuthenticated()">&ndash;&gt;-->
<!--            Welcome <b><span sec:authentication="name"></span></b>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        </p>-->
<!--        <input type="submit" value="Sign Out" />-->
<!--    </form>-->
<!--    <hr><br>-->

    <!-- Nav -->
    <div class="container">
        <div class="row m-4 border border-dark">

            <div class="col text-center m-3">
                <a href="addUser" class="btn btn-primary btn-lg">Add User</a>
            </div>
            <div class="col text-center m-3">
                <a href="editUser" class="btn btn-primary btn-lg">Edit User</a>
            </div>
            <div class="col text-center m-3">
                <a href="addVehicle" class="btn btn-primary btn-lg">Add Vehicle</a>
            </div>
            <div class="col text-center m-3">
                <a href="editVehicle" class="btn btn-primary btn-lg">Edit Vehicle</a>
            </div>
            <div>
                <form th:action="@{/logout}" method="post">
                    <p>
                        <!--        <div sec:authorize="isAuthenticated()">-->
                        Welcome <b><span sec:authentication="name"></span></b>
                        <!--        </div>-->

                    </p>
                    <input type="submit" value="Sign Out" />
                </form>
            </div>
        </div>
    </div>
    <!-- End Nav -->


</div>

<!-- Body End -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Link to jQuery -->
<script src="js/home.js"></script>
</body>