<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fontawesome for icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- google for icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Car Dealership</title>
    </head>
    <body>

        <!-- What will be visible in all pages--> 
        <div class="container">
            <div class="row m-4">
                <div class="col text-center border border-dark">
                    <h1>Car Dealership</h1>
                </div>
            </div>
            <div class="row m-4 border border-dark">

                <i class="fa fa-car icon-large"></i>

                <div class="col text-center m-3">
                    <a href="/" class="btn btn-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="new" class="btn btn-primary btn-lg">New</a>
                </div>
                <div class="col text-center m-3">
                    <a href="used" class="btn btn-primary btn-lg">Used</a>
                </div>
                <div class="col text-center m-3">
                    <a href="homeSpecials" class="btn btn-primary btn-lg">Specials</a>
                </div>
                <div class="col text-center m-3">
                    <a href="contact" class="btn btn-primary btn-lg">Contact</a>
                </div>
                <div sec:authorize="isAuthenticated()" class="col text-center m-3">
                    <form th:action="@{/logout}" method="post">
                        <p>
                            <!--        <div sec:authorize="isAuthenticated()">-->
                            Welcome <b><span sec:authentication="name"></span></b>
                            <!--        </div>-->

                        </p>
                        <input type="submit" value="Sign Out" />
                    </form>
                </div>
            </div>
        </div> 

        <!-- Main Body of Page -->



        <div class="topnav">
            <h1 class="display-1 text-center"> Used Cars</h1>


            <!-- search box -->   
            <div class="container border border-dark">
                <form id="searchForm" th:action="@{/used}" method="GET">

                    <div class="form-group row">

                        <label for="searchBar" class="col-form-label">Quick Search</label>
                        <div class="form-group col-3">
                            <input type="text" name="makeModelYear" id="searchbar" th:value="${makeModelYear}" class="form-control"
                                   placeholder="Enter model, make, or year..." />
                        </div>

                        <label for="priceMin" class="col-form-label">Price Range</label>
                        <div class="form-group col-2">
                            <select th:value="${priceMin}" id="priceMin" name="priceMin" class="form-control">
                                <option value="None">None</option>
                                <option value="500">500</option>
                                <option value="1000">1,000</option>
                                <option value="2000">2,000</option>
                                <option value="3000">3,000</option>
                                <option value="4000">4,000</option>
                                <option value="5000">5,000</option>
                                <option value="10000">10,000</option>
                                <option value="15000">15,000</option>
                                <option value="20000">20,000</option>
                                <option value="25000">25,000</option>
                                <option value="30000">30,000</option>
                                <option value="35000">35,000</option>
                                <option value="40000">40,000</option>
                                <option value="45000">45,000</option>
                                <option value="50000">50,000</option>
                                <option value="70000">60,000</option>
                                <option value="70000">70,000</option>
                                <option value="80000">80,000</option>
                                <option value="90000">90,000</option>
                                <option value="100000">100,000</option>
                                <option value="150000">150,000</option>
                                <option value="200000">200,000</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <select id="priceMax" th:value="${priceMax}" name="priceMax" class="form-control">
                                <option value="None">None</option>
                                <option value="500">500</option>
                                <option value="1000">1,000</option>
                                <option value="2000">2,000</option>
                                <option value="3000">3,000</option>
                                <option value="4000">4,000</option>
                                <option value="5000">5,000</option>
                                <option value="10000">10,000</option>
                                <option value="15000">15,000</option>
                                <option value="20000">20,000</option>
                                <option value="25000">25,000</option>
                                <option value="30000">30,000</option>
                                <option value="35000">35,000</option>
                                <option value="40000">40,000</option>
                                <option value="45000">45,000</option>
                                <option value="50000">50,000</option>
                                <option value="70000">60,000</option>
                                <option value="70000">70,000</option>
                                <option value="80000">80,000</option>
                                <option value="90000">90,000</option>
                                <option value="100000">100,000</option>
                                <option value="150000">150,000</option>
                                <option value="200000">200,000</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="yearMin" class="col-form-label">Year Range</label>
                        <div class="form-group col-2">
                            <select th:value="${yearMin}" id="yearMin" name="yearMin" class="form-control">
                                <option value="None">None</option>
                                <option value="1970">1970</option>
                                <option value="1975">1975</option>
                                <option value="1980">1980</option>
                                <option value="1985">1985</option>
                                <option value="1990">1990</option>
                                <option value="1995">1995</option>
                                <option value="2000">2000</option>
                                <option value="2005">2005</option>
                                <option value="2010">2010</option>
                                <option value="2015">2015</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>
                        <div class="form-group col-2">
                            <select id="yearMax" th:value="${yearMax}" name="yearMax" class="form-control">
                                <option value="None">None</option>
                                <option value="1970">1970</option>
                                <option value="1975">1975</option>
                                <option value="1980">1980</option>
                                <option value="1985">1985</option>
                                <option value="1990">1990</option>
                                <option value="1995">1995</option>
                                <option value="2000">2000</option>
                                <option value="2005">2005</option>
                                <option value="2010">2010</option>
                                <option value="2015">2015</option>
                                <option value="2020">2020</option>
                            </select>
                        </div>

                        <div class="form-group col-2">
                            <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
                        </div>
                    </div>

                </form>

            </div>

            <div class="container">
                <h1>Used Cars</h1>
            </div>

            <div class="row m-4 border border-dark">
                <div class="col text-center m-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- insert retrieved cars here -->
                            <tr th:each="car : ${cars}">
                                <td th:text="${car.year}">Car Year</td>
                                <td th:text="${car.make}">Car Make</td>
                                <td th:text="${car.model}">Car Model</td>
                                <td th:text="${car.salePrice}">Car Price</td>
                                <td><a href="#" th:href="@{carDetail(id=${car.carId})}">Details</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <!-- End main body -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>;